doctype html
html
    head
        title test
        include ./../../pug_include/head_pc

        link(rel="stylesheet" type="text/css" href="index.css?t="+tt)
        script(data-src='index.min.js?t='+tt)


    body






